* {
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #121212;
    color: #ffffff;
    line-height: 1.6;
    max-width: 70vw;
    margin: 0 auto;
}

body *:not(a) {
  cursor: default;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

.introduccion {
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.perfil-texto img {
    width: 20%;
    border-radius: 25%;
    margin: 0 auto;
}

.perfil-texto p {
    margin-top: 10px;
    font-size: .9em;
    color: #777777;
    width: 50%;
}

#contador {
    font-weight: bold;
    color: #00ffcc;
    text-align: center;
}

.contador-visitas {
    margin-top: 10px;
}

.border {
    border-bottom: 2px solid #444;
    margin: 20px 0;
}

.lista-proyectos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.proyecto:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    background-color: #203a43;
    cursor: pointer;
}

.proyecto :hover{
    cursor: pointer;
}

.proyecto {
    background-color: #333;
    padding: 15px;
    border-radius: 8px;
    width: 300px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.proyecto h5 {
    color: #777777;
    font-weight: normal;
    margin-top: 5px;
    font-size: 0.9em;
}

.proyecto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.about-me {
    margin: 20px;
    padding: 20px;
}
.about-me p{
    width: 50%;
    font-weight: 500;
    color: #777777;
    font-size: 0,9em;
}

.tecnologias {
    display: flex;
    flex-direction: column;
    margin : 20px;
}

.tecnologias h3 {
    margin-bottom: 15px;
}

.tecnologia-1 {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

.tecnologia-2 {
    background: linear-gradient(68deg, #2c5364, #203a43, #0f2027);
}

.tecnologia-1, .tecnologia-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin: 1em;
    border-radius: 10px;
}

.texto-tecnologia {
    max-width: 30%;
}


.texto-tecnologia i {
    font-size: 4em;
    margin: 0.4rem;
}

.texto-tecnologia p {
    font-size: 1em;
    color: #777777;
}

.texto-tecnologia h5 {
    margin: 10px 0;
}


.tecnologia-1 img, .tecnologia-2 img {
    width: 20%;
}

footer {
    display: flex;
    justify-content: space-between;
}

.contacto-texto p {
    margin-bottom: 10px;
    color: #777777;
    font-size: 0.9em;
    width: 30vw;
}

.redes-contacto {
    display: flex;
    align-items: center;
    gap: 20px;
}

.redes-contacto img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.redes {
    background:linear-gradient(90deg, #243B55, #141E30);
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.redes:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.redes-contacto :hover{
    cursor: pointer;
}

.redes-content {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.copyright {
    color: #777777;
    font-size: 0.8em;
    align-self: center;
    margin: 1rem;
}

.links {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.links a {
    color: #777777;
    text-decoration: none;
    margin-bottom: 8px;
}